/*Base*/
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
}

html {
  font-size: 62.5%;
}

.whatsapp {
  position: fixed;
  width: 60px;
  bottom: 40px;
  right: 40px;
  border-radius: 50px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

.background-fijo {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container-titulo {
  position: relative;
}

.titulo-secciones {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

/*Components*/
.pie-de-pagina {
  display: nth none, inline, block, inline-block, flex, grid, 6;
  grid-area: footer;
  background: rgb(31, 48, 94);
  background: linear-gradient(180deg, rgba(31, 48, 94, 0.9475140398) 0%, rgb(255, 255, 255) 95%);
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  position: bottom 0;
}

.logos {
  margin: 0.5rem 0;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 0 4px;
  height: auto;
}

.preguntas {
  text-decoration: none;
  color: black;
}

.menu-navegable-fin {
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  margin: 0 5px;
}

.lista-desplegable {
  display: none;
}

.background-nav {
  background-color: #1F305E;
  height: 70px;
}

.caja-1 {
  display: inline-block;
}

.contacto {
  display: grid;
  grid-area: contacto;
  font-size: 5rem;
  color: white;
}

.formulario {
  color: white;
  height: 500px;
}

.caja:hover {
  transform: scale(1.5);
}

.caja-1:hover {
  transform: scale(0.8);
}

.info {
  padding: 0 25px;
  font-size: 15px;
  margin-top: 50px;
  color: white;
}

.title-info {
  font-size: 30px;
}

.caja-info {
  border: solid 1px rgba(0, 0, 0, 0.616);
  border-radius: 10px;
  background-color: rgba(255, 250, 118, 0.6431372549);
}

.conteiner-grid {
  padding-top: 80px;
  display: grid;
  grid-template-areas: "header header header" "section section section" "contacto contacto contacto" "footer footer footer";
  transition: all 2s;
}

.container-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.menu-principal {
  margin-top: 8rem;
  display: grid;
  grid-area: section;
  background-size: cover;
  width: 100%;
  height: 1000px;
  display: block;
}

.subtitulo {
  margin-top: 3rem;
  padding: 2rem;
  font-size: 5rem;
}

.titulo-menu {
  margin: 4rem 0rem;
  font-size: 5rem;
  color: white;
}

.servicios {
  display: block;
}

.lista-servicios {
  display: flex;
  justify-content: space-around;
}

.servicios-1 {
  width: 400px;
  height: 40rem;
  overflow: hidden;
  list-style: none;
  text-align: center;
  transition: all 2s;
}

.img {
  width: 400px;
  height: auto;
  border-radius: 3%;
}

@media (max-width: 450px) {
  .encabezado {
    width: 100%;
  }

  .encabezado-titulo {
    width: 170px;
    display: flex;
    justify-content: flex-start;
  }

  .lista-nav {
    font-size: 1.5rem;
  }

  .menu-principal {
    text-align: center;
  }

  .lista-servicios {
    display: block;
  }

  .servicios-1 {
    display: flex;
    justify-items: center;
    display: inline-block;
    margin-top: 10px;
  }

  .subtitulo {
    font-size: 2rem;
    width: 400px;
  }

  .titulo-menu {
    font-size: 4rem;
    margin: 2rem 0;
  }

  .img {
    width: 300px;
    height: auto;
  }

  .logos {
    width: 30px;
    height: 30px;
  }

  .preguntas {
    font-size: 1rem;
  }

  .lista-desplegable {
    display: block;
  }

  .lista-fija {
    display: none;
  }
}
/* media query para tablets */
@media (min-width: 451px) and (max-width: 700px) {
  .encabezado {
    width: 100%;
  }

  .encabezado-titulo {
    width: 170px;
    display: flex;
    justify-content: flex-start;
  }

  .lista-nav {
    font-size: 1.5rem;
  }

  .menu-principal {
    text-align: center;
  }

  .subtitulo {
    width: 600px;
  }

  .lista-servicios {
    display: block;
  }

  .servicios-1 {
    display: inline-block;
    margin-top: 10px;
  }

  .logos {
    width: 30px;
    height: 30px;
  }

  .preguntas {
    font-size: 1rem;
  }

  .lista-desplegable {
    display: block;
  }

  .lista-fija {
    display: none;
  }
}
.container-titulo {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.titulo-secciones {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}

.presupuestos {
  color: white;
}

.subtitulo-1 {
  font-size: 5rem;
  color: white;
}

.main-presupuesto {
  padding-top: 10px;
  height: 800px;
  color: white;
}

.llamado {
  font-size: 50px;
  margin-top: 50px;
  color: white;
}

.btn-css {
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

/*______________________________________*/

/*# sourceMappingURL=style.css.map */
