* {
    margin: 0;
    padding: 0;
    font-family:'Exo', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,600&display=swap');
html {
    font-size: 62.5%;
}

.conteiner-grid {
    padding-top: 80px ;
    display: grid;
    grid-template-areas: "header header header"
        "section section section"
        "contacto contacto contacto"
        "footer footer footer"
    ;
    transition: all 2s;

}

.container-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.background-nav {
    background-color:#1F305E;
    height: 70px;      
}
.caja-1 {
    display: inline-block;
}
.menu-principal {
    margin-top: 8rem;
    display: grid;
    grid-area: section;
    background-size: cover;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    display: block;
}

.subtitulo {
    margin-top: 3rem;
    padding: 2rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

.titulo-menu {
    margin: 4rem 0rem;
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
}


.servicios {
    display: flex;
    display: block;
    justify-content: center;
}

.lista-servicios {
    display: flex;
    justify-content: space-around;
}

.servicios-1 {
    height: 400px;
    width: 40rem;
    overflow: hidden;
    list-style: none;
    text-align: center;
    transition: all 2s;

}
.img{
    width: 400px;
    height:auto;
    border-radius: 3%;
}


.contacto {
    display: grid;
    grid-area: contacto;
    height: 500px;
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    
}

.pie-de-pagina {
    display:
        grid;
    grid-area: footer;
    background: rgb(31, 48, 94);
    background: linear-gradient(180deg, rgba(31, 48, 94, 0.9475140397956058) 0%, rgba(255, 255, 255, 1) 95%);
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    position: bottom 0;
}

.logos {
    margin: 0.5rem 0;
    display: flex;
    height: 40px;
    padding: 0 4px;
    width: 40px;
    height: auto;
}

.preguntas {
    text-decoration: none;
    color: black;
}

.menu-navegable-fin {
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    margin: 0 5px;
}
.lista-desplegable{
    display: none;
}

/* transformaciones */

.caja:hover {
    transform: scale(1.5)
}

.caja-1:hover {
    transform: scale(0.8);
}

/* media query para celulares */

@media (max-width:450px) {

    .encabezado{
width: 100%;
    
}
.encabezado-titulo{
    width: 170px;
    display: flex;
    justify-content: flex-start;
    
}
.lista-nav{
    font-size: 1.5rem;
}

.menu-principal{
    text-align: center;
    
} 
.lista-servicios{
    display: block;
}
.servicios-1{
    display: flex;
    display: inline-block;
    justify-items: center;
    margin-top: 10px;
}

.subtitulo{
    font-size: 2rem;
    width: 400px;
}
.titulo-menu {
    font-size: 4rem;
    margin: 2rem 0;
}
.img{
    width: 300px;
    height:auto;   
}
.logos{
    width: 30px;
    height:30px;
}
.preguntas{
    font-size: 1rem;
}
.lista-desplegable{
    display: block;
}
.lista-fija {
    display: none;
}

}
/* media query para tablets */

@media (min-width:451px) and (max-width:700px) {

    .encabezado{
        width: 100%;
            
        }
        .encabezado-titulo{
            width: 170px;
            display: flex;
            justify-content: flex-start;
            
        }
        .lista-nav{
            font-size: 1.5rem;
        }
        
        .menu-principal{
            text-align: center;
            
        } 
        .subtitulo{
            width: 600px;
        }
        .lista-servicios{
            display: block;
        }
        .servicios-1{
            display: flex;
            display: inline-block;
            justify-items: center;
            margin-top: 10px;
        }
        .logos{
            width: 30px;
            height:30px;
        }
        .preguntas{
            font-size: 1rem;
        }
        .lista-desplegable{
            display: block;
        }
        .lista-fija {
            display: none;
        }

}



Seccion urgencias
.container-titulo {
    position: relative;
    display: inline-block;
    


}
.titulo-urgencias {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.llamado {
    font-size: 50px;margin-top: 50px;
    color: white;
    
}

.btn-css {
font-size: 30px;
margin-bottom: 50px;margin-top: 50px;

}
.carrusel { 
    width: 80%;
}

.whatsapp {
    position:fixed;
    width:60px;
    bottom:40px;
    right:40px;
    border-radius:50px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }
  .background-fijo {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
