* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-size: 62.5%;
}

.conteiner-grid {
    display: grid;
    grid-template-areas: "header header header"
        "section section section"
        "contacto contacto contacto"
        "footer footer footer"
    ;
}

.container-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

}

.encabezado {
    width: 100%;
    background: #06113C;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    position: fixed;
    top: 0;


}

.encabezado-titulo {
    color: white;
    padding-left: 0.5rem;
    padding-bottom: 5px;
}

.nav {
    width: 60%;
    display: grid;
    display: flex;
    grid-area: header;
    padding-bottom: 5px;
}

.lista-nav {
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 0 4px;
}

.menu-principal {
    margin-top: 8rem;
    display: grid;
    grid-area: section;
    background-size: cover;
    width: 100%;
    height: 1500px;
    display: flex;
    justify-content: center;
    display: block;
}

.subtitulo {
    margin: 2rem 0rem;
    padding: 2rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.titulo-menu {
    margin: 4rem 0rem;
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

.servicios {
    display: flex;
    display: block;
    justify-content: center;
}

.lista-servicios {
    display: flex;
    justify-content: space-around;
}

.servicios-1 {
    height: 400px;
    width: 40rem;
    font-size: 2rem;
    overflow: hidden;
    list-style: none;
    text-align: center;
}

.contacto {
    display: grid;
    grid-area: contacto;
    font-size: 2rem;
    height: 300px;
    display: flex;
    justify-content: flex-start;
}

.pie-de-pagina {
    display:
        grid;
    grid-area: footer;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
}

.logos {
    margin: 0.5rem 0;
    display: flex;
    height: 40px;
    padding: 0 4px;
    width: 40px;
    height: auto
}

.preguntas {
    text-decoration: none;
    color: black;
}

.menu-navegable-fin {
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    margin: 0 5px;
}