@import '../base/extends';
@import '../base/mixin';
@import '../base/listas';
@import '../base/variables';

.contacto, %flex-center {
    display: grid;
    grid-area: contacto;
    font-size: 5rem;
    color: white; 
}
.formulario {
    color: white;
    height: 500px;
}