@import '../base/extends';
@import '../base/mixin';
@import '../base/listas';
@import '../base/variables';

.contacto, %flex-center {
    font-size: 5rem;
    color: white; 
}
.formulario {
    color: white;
}