@import '../base/extends';
@import '../base/mixin';
@import '../base/listas';
@import '../base/variables';
.pie-de-pagina {
    background: rgb(31, 48, 94);
    background: linear-gradient(180deg, rgba(31, 48, 94, 0.9475140397956058) 0%, rgba(255, 255, 255, 1) 95%);
    position: absolute;
    bottom: 0;
    width: 100%;

    @include flex (flex, space-between);
    padding: 5px 5px;
    position: bottom 0;
}
.logos {
    margin: 0.5rem 0;
    display: nth($display,5);
    @include size (50px, 50px);
    padding: 0 4px;
    height: auto;
}
.preguntas {
    text-decoration: none;
    color: black;
}
.menu-navegable-fin {
    font-size: 1rem;
    font-weight: 100;
    display: nth($display,5);
    margin: 0 5px;
}
.lista-desplegable{
    display: nth($display,1);
}