@import '../base/extends';
@import '../base/mixin';
@import '../base/listas';
@import '../base/variables';
@import '../base/estilos-generales';


.container-background {
    position: fixed;
    top: 0;
   @include size (100%, 100%);
    z-index: -1;

}
.menu-principal, %flex-center {
    margin-top: 8rem;
    background-size: cover;
    @include size (100%, auto);
    display: nth($display, 3 );
}
.subtitulo, %flex-center  {
    margin-top: 3rem;
    padding: 2rem;
    font-size: 5rem;
    
}
.titulo-menu, %flex-center  {
    margin: 4rem 0rem;
    font-size: 5rem;
    color: white;
    
}
.servicios, %flex-center  {
      display: nth($display,3);
      
}
.lista-servicios {
    @include flex (flex, space-around);
}
.servicios-1 {
    @include size (400px, 40rem);
    overflow: hidden;
    list-style: none;
    text-align: center;
    transition: all 2s;
}
.img{
    @include size (400px, auto);
    border-radius: 3%;
}
