@import '../base/extends';
@import '../base/mixin';
@import '../base/listas';
@import '../base/variables';
.conteiner-grid {
    padding-top: 80px ;
    display: grid;
    grid-template-areas: "header header header"
        "section section section"
        "contacto contacto contacto"
        "footer footer footer"
    ;
    transition: all 2s;

}

.container-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}
.menu-principal {
    margin-top: 8rem;
    display: grid;
    grid-area: section;
    background-size: cover;
    width: 100%;
    height: 1000px;
    @extend %flex-center;
    display: block;
}
.subtitulo {
    margin-top: 3rem;
    padding: 2rem;
    font-size: 5rem;
    @extend %flex-center;
}
.titulo-menu {
    margin: 4rem 0rem;
    font-size: 5rem;
    color: white;
    @extend %flex-center;
}
.servicios {
      display: block;
      @extend %flex-center;
}
.lista-servicios {
    @include flex (flex, space-around);
}
.servicios-1 {
    height: 400px;
    width: 40rem;
    overflow: hidden;
    list-style: none;
    text-align: center;
    transition: all 2s;
}
.img{
    width: 400px;
    height:auto;
    border-radius: 3%;
}
