@import '../base/extends';
@import '../base/mixin';
@import '../base/listas';
@import '../base/variables';
@media (max-width:450px) {
    .encabezado{
width: 100%;
    
}
.encabezado-titulo{
    width: 170px;
    @include flex (flex, flex-start);
    
}
.lista-nav{
    font-size: 1.5rem;
}

.menu-principal{
    text-align: center;
    
} 
.lista-servicios{
    display: block;
}
.servicios-1{
    display: flex;
    justify-items: center;
    display: inline-block;
    margin-top: 10px;
}

.subtitulo{
    font-size: 2rem;
    width: 400px;
}
.titulo-menu {
    font-size: 4rem;
    margin: 2rem 0;
}
.img{
    @include size (300px, auto)  
}
.logos{
    width: $size-1;
    height: $size-1;
}
.preguntas{
    font-size: 1rem;
}
.lista-desplegable{
    display: nth($display,3);
}
.lista-fija {
    display: nth($display,1);
}


}
/* media query para tablets */

@media (min-width:451px) and (max-width:700px) {
    .encabezado{
        width: 100%;
            
        }
        .encabezado-titulo{
            width: 170px;
            @include flex (flex, flex-start);
            
        }
        .lista-nav{
            font-size: 1.5rem;
        }
        
        .menu-principal{
            text-align: center;
            
        } 
        .subtitulo{
            width: 600px;
        }
        .lista-servicios{
            display: nth($display,3);
        }
        .servicios-1, %flex-center {
            display: nth($display,4);
            margin-top: 10px;
        }
        .logos{
            width: $size-1;
            height: $size-1;
        }
        .preguntas{
            font-size: 1rem;
        }
        .lista-desplegable{
            display: nth($display,3);
        }
        .lista-fija {
            display: nth($display,1);
        }

}