@import '../base/extends';
@import '../base/mixin';
@import '../base/listas';
@import '../base/variables';
@import '../base/estilos-generales';

.container-titulo{
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.carrusel-mt {
    margin-top: 20px;
}