@import '../base/extends';
@import '../base/mixin';
@import '../base/listas';
@import '../base/variables';
@import '../base/estilos-generales';

.llamado {
    font-size: 50px;
    margin-top: 50px;
    color: white;  
}
.btn-css {
font-size: 30px;
margin-bottom: 50px;
margin-top: 50px;
}
