@import '../base/extends';
@import '../base/mixin';
@import '../base/listas';
@import '../base/variables';
.container-titulo {
    position: relative;
    display: inline-block;
}
.titulo-urgencias {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
.llamado {
    font-size: 50px;
    margin-top: 50px;
    color: white;  
}
.btn-css {
font-size: 30px;
margin-bottom: 50px;
margin-top: 50px;
}
.carrusel { 
    width: 80%;
}